body {
    margin: 0px; 
    font-family: Nunito; 
}

.nav__container {
    display: flex;
    justify-content: space-around;  
    background-color: #F4F6F7;
}

.nav__list {
    display: flex;
    justify-content: space-around; 
    min-width: 20%; 
    list-style-type: none;  
}

.nav__list a{
    text-decoration: none; 
    color: #13253A; 
}

.nav__list a:visited{
    text-decoration: underline; 
}

.nav__list a:hover{
    text-decoration: underline; 
}

.section1 {
    min-height: 100vh; 
}

.section1__container {
    display: flex; 
    justify-content: center;  
    align-items: center; 
    background-color: #F4F6F7;  
    min-height: 100vh; 
}

.button__get-consultation {
    min-width: 336px; 
    min-height: 60px; 
    background-color: #FF7F57;
    color: white; 
    font-size: 17px; 
    border: none; 
    border-radius: 3px;
    margin-top: 180px;  
}

.button__get-consultation:hover{
    background-color: #be5612; 
}

.section1__img {
    margin-left: 50px; 
}

.section2 {
    margin-top: 40px; 
    margin-bottom: 40px; 
}

.section__intro--heading {
    font-size: 38px;
    margin: 0px;  
}

.section2__intro {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.section__intro--small {
    color: #2557AB; 
    font-size: 16px; 
    margin: 0px; 
}

.reasons__container {
    display: flex; 
    justify-content: center; 
    text-align: center; 
}

.reason__title {
    font-size: 20px; 
    font-weight: bold;
    color: #3B4D6C; 
}

.reason__text {
    font-size: 16px; 
    color: #13253A; 
}

.reason__container {
    margin-left: 30px; 
}

.section3 {
    background-color: #F4F6F7; 
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 205px; 
    margin-bottom: 40px; 
}

.element__container {
    margin-left: 70px;
    margin-bottom: 40px;  
}

.element__number {
    font-size: 46px; 
    margin-bottom: 0px;
    color: #13253A;  
}

.plus {
    color: #FF7F57; 
}

.number__explanation {
    font-size: 16px; 
    color: #2557AB; 
}

.section4__intro-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.section__intro--title {
    font-size: 38px; 
    font-weight: bold; 
    margin: 0px; 
}

.section4__text-container {
    display: flex; 
    justify-content: center; 
    line-height: 27px; 
}

.section4__text-container--right {
    margin-left: 40px; 
}

.section4__text--italic {
    font-size: 20px; 
    font-style: italic; 
    color: #13253A; 
}

.section4__text--normal {
    font-size: 16px; 
    color: #13253A; 
}

.section4__logos-container {
    display: flex; 
    align-items: center;
    justify-content: center; 
    min-height: 66px; 
    min-width: 970px; 
    margin-top: 50px; 
    margin-bottom: 50px;  
}

.logo {
    margin-left: 50px; 
}

hr {
    width: 1170px; 
    height: 1px; 
    background-color: #DCE2E6;
}

.section5 {
    display: flex; 
    justify-content: center; 
    min-height: 450px; 
    margin-top: 80px; 
}

.section5__text-container {
    display: flex; 
    flex-direction: column;  
} 

.section5__text--normal {
    color: #13253A; 
}

.check-list { 
    list-style-type: none; 
    font-weight: bold; 
    color: #13253A; 
    padding-left: 0px; 
}

.check-container {
    display: flex; 
    margin-bottom: 15px; 
}

.check {
    margin-right: 20px; 
}

.section5__img-container {
    display: flex;
    flex-direction: column;
    min-width: 30%; 
}

.section6 {
    display: flex;  
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background-color: #FF7F57;  
    color: white; 
    text-align: center; 
    min-height: 434px; 
}

.section6__intro--title {
    font-size: 46px; 
    font-weight: bold; 
    margin: 0px; 
}

.button--get-started {
    min-width: 336px; 
    min-height: 60px; 
    border: none; 
    color: white; 
    background-color: #2557AB; 
    font-size: 17px; 
}

.button--get-started:hover {
    background-color: #063a91; 
}

.section7 {
    display: flex;  
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    background-color: #11364E;  
    color: white; 
    min-height: 817px;  
}

.section7-title {
    font-size: 38px; 
}

.form-container {
    display: flex; 
    flex-direction: column; 
}

.input-field {
    outline: 0;
    border-width: 0 0 1px;
    border-color: white;  
    background-color: #11364E; 

}

.label {
    display: flex; 
    flex-direction: column; 
    font-size: 13px; 
    margin-bottom: 40px; 
    line-height: 22px; 
}

.submit-button {
    min-width: 370px; 
    min-height: 60px; 
    background-color: #FF7F57; 
    color: white; 
    border: none; 
    font-size: 17px; 
}

.submit-button:hover {
    background-color: #be5612; 
}

.input-field::placeholder {
    color: white; 
    opacity: 0.2; 
}

.textarea {
    min-height: 120px; 
}

/*can't figure out how to adjust the vertical alignment of the placeholder in the textarea field*/ 

.footer-text {
    font-size: 12px; 
    color: white; 
    opacity: 0.2; 
}

.footer__container{
    display: flex; 
    justify-content: center;
    background-color: #13253A; 
    margin: 0px; 
    min-height: 47px; 
}
